body {
  background-color: #FFFFFE;
}

.hero-image {
  width: 400px;
  height: auto;
}

.heading-hero {
  width: 40%;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #233E8B;
}

.hero-paragraph {
  width: 600px;
  height: 200px;
  line-height: 45px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: grey;
}

.cta-button {
  border: 0;
  border-radius: 18px;
  background-color: #1EAE98;
  line-height: 2.1;
  padding: 0 20px;
  font-size: 1.5rem;
}

.cta-button:hover {
  background-color: #233E8B;
}

.button-text{
  color: #fffffe;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  font-weight: bold;
}

.heading-projects {
  text-align: center;
  color: #233E8B;
  font-weight: bold;
  font-size: 35px;
}

.project-title {
  top: 0;
  font-weight: bold;
  color: #233E8B;
  font-family: IBM Plex Sans;
  font-size: 24px;
  text-align: center;
}

.has-picture{
  width: 30%;
  height: auto;
}

.has-title {
  font-weight: bold;
  color: #233E8B;
  font-family: IBM Plex Sans;
  font-size: 24px;
  text-align: center;
}

.has-description {
  font-weight: normal;
  font-family: IBM Plex Sans;
  font-size: 20px;
  color: grey;
  width: 30%;
  line-height: 2;
  text-align: left;
}

.has-button {
  border: 0;
  border-radius: 18px;
  background-color: #1EAE98;
  line-height: 2.1;
  padding: 0 20px;
  font-size: 1.5rem;
  position: relative;
}

.has-button-text {
  color: #fffffe;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
}

.doc-picture{
  width: 30%;
  height: auto;
  align-items: center;
}

.doc-title {
  font-weight: bold;
  color: #233E8B;
  font-family: IBM Plex Sans;
  font-size: 24px;
  text-align: center;
}

.doc-description{
  font-weight: normal;
  font-family: IBM Plex Sans;
  font-size: 20px;
  color: grey;
  width: 30%;
  line-height: 2;
  text-align: left;
}

.doc-button {
  border: 0;
  border-radius: 18px;
  background-color: #1EAE98;
  line-height: 2.1;
  padding: 0 20px;
  font-size: 1.5rem;
  position: relative;
}

.doc-button-text {
  color: #fffffe;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
}

.testimonials{
    text-align: center;
    margin: auto 0 30px 0;
    color: #233E8B;
    font-weight: bold;
    font-size: 35px;
    line-height: normal;
}

.test-picture {
  width: 10%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 45%;
}

.testimonial-paragraph{
  width: 40%;
  color: grey;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5em;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.cta-testimonial {
  border: 0;
  border-radius: 18px;
  background-color: #1EAE98;
  line-height: 2.1;
  padding: 0 20px;
  font-size: 1.5rem;
  position: relative;
  margin-left: 45%;
  margin-bottom: 50px;
}

.cta-testimonial:hover {
  background-color: #233E8B;
}

.portfolio-footer {
  background: linear-gradient(25deg, rgba(35,62,139,1) 40%, rgba(30,174,152,1) 75%);
  height: 225px;
}

.footer-message {
  color: #FFFFFE;
  font-size: 18px;
  font-family: IBM Plex Mono;
  float: left;
  width: 40%;
  margin-left: 175px;
  margin-top: 50px;
  line-height: 35px;
}

.footer-logo {
  width: 20%;
  height: auto;
  position: relative;
  float: right;
  margin-right: 200px;
  margin-top: 50px;
}

.footer-links li {
  text-decoration: underline;
  font-family: IBM Plex Mono;
  font-size: 16px;
  display: inline-block;
  margin: 50px 0 0 55px;
}

.footer-links a {
  color: #FFFFFE;
}
