body {
  background-color: #FFFFFE;
}

/* Click To Action button */
.cta-btn {
  color: #FFFFFE;
  background-color: #1EAE98;
  border-color: #1EAE98;
  border: 0;
  border-radius: 12px;
}

.cta-btn:hover {
  color: #FFFFFE;
  background-color: #188f7d;
  border-color: #168272;
}

.button-text {
  color: #fffffe;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
  font-weight: bold;
  font-family: 'Arial';
}

.button-text:hover {
  color: #fffffe;
}

/* Hero Section */
h1 {
  font-family: 'Arial';
  font-weight: bold;
}

h2 {
  font-family: 'Arial';
  font-weight: bold;
}

h3 {
  font-family: 'Arial';
  font-weight: bold;
}

.lead {
  font-family: 'IBM Plex Sans', sans-serif;
  color: grey;
}

/* Projects Section */
.heading-projects {
  color: #233E8B;
  font-weight: bold;
  font-size: 35px;
}

.project-title {
  font-weight: bold;
  color: #233E8B;
  font-family: IBM Plex Sans;
  font-size: 24px;
}

.has-title {
  font-weight: bold;
  color: #233E8B;
  font-family: IBM Plex Sans;
  font-size: 24px;
}

.has-description {
  font-weight: normal;
  font-family: IBM Plex Sans;
  font-size: 18px;
  color: grey;
  line-height: 1.2;
}

.has-button {
  border: 0;
  border-radius: 18px;
  background-color: #1EAE98;
  line-height: 2.1;
  padding: 0 20px;
  font-size: 1.5rem;
  position: relative;
}

.has-button-text {
  color: #fffffe;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
}

.doc-title {
  font-weight: bold;
  color: #233E8B;
  font-family: IBM Plex Sans;
  font-size: 24px;
}

.doc-description {
  font-weight: normal;
  font-family: IBM Plex Sans;
  font-size: 18px;
  color: grey;
  line-height: 1.2;
}

.doc-button {
  border: 0;
  border-radius: 18px;
  background-color: #1EAE98;
  line-height: 2.1;
  padding: 0 20px;
  font-size: 1.5rem;
  position: relative;
}

.doc-button-text {
  color: #fffffe;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Testimonial Section  */
.carousel-control-next,
.carousel-control-prev

/*, .carousel-indicators */
  {
  filter: invert(80%);
}

.carousel-item {
  padding: 1% 10%;
}

.testimonials {
  color: #233E8B;
  font-weight: bold;
  line-height: normal;
}

.test-picture {
  padding: 3% 0;
}

.test-p {
  color: grey;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2em;
  justify-content: center;
}

.test-btn {
  border: 0;
  border-radius: 18px;
  background-color: #1EAE98;
  line-height: 2.1;
  padding: 0 20px;
  font-size: 1.5rem;
}

.cta-testimonial:hover {
  background-color: #233E8B;
}

/* Footer */
.portfolio-footer {
  background: linear-gradient(25deg, rgba(35, 62, 139, 1) 40%, rgba(30, 174, 152, 1) 75%);
  height: 225px;
}

.footer-p {
  font-family: "IBM Plex Mono", monospace;
  color: #fffffe;
}

.footer-item {
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  color: #FFFFFE;
  padding: 1% 0;
}

.p-3 {
  color: #FFFFFE;
}

/* About Me Page CSS */
.about-me-pic {
  border-radius: 100%;
}

/* Contact Page CSS */
.contact-h1 {
  padding: 2% 0;
}
