footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202a37;
  color: #fff;
  padding: 1.5rem;
  font-size: 22px;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons a {
  display: flex;
  margin-right: 0.5rem;
  color: #fff;
}

.social-icons a:hover {
  color: #ccc;
}

@media (max-width: 768px) {
  .social-icons {
    justify-content: center;
  }
}
